.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
  margin-top: 0;
}
.main{
  font-size: 1.2em;
  line-height: 1.6;
}
h1{
  color: rgb(38, 129, 97);
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 10px;
}