.column {
  width: 350px;
  float: left;
  margin: 10px;
  color: rgb(32, 117, 209);
  line-height: 1.6;
  font-size: 1.2em;
}
h1{
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(47, 47, 210);
}