
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f5;
    color: #333;
}

.page-wrapper {
    width: 100%;
}

.sidebar {
    float: left;
    width: 25%;
    height: 100vh; 
    position: fixed; 
    top: 0;
    left: 0;
    background-color: #39a086;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    border:1px solid #6a6969;
}

.sidebar h2 {
    color: #fff
}

.sidebar .event {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.main-content {
    float: left;
    width: 75%;
    margin-left: 25%; 
    padding: 20px 30px;
    box-sizing: border-box;
}

.header {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(124, 167, 167);
    color: #fff;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    color: rgb(48, 35, 132);
}

.nav-bar ul li {
    display: inline-block;
    margin: 0 15px;
    cursor: pointer;
    font-weight: bold;
}
.nav-bar ul li:hover{
    color: rgb(28, 121, 9);
}


.section-part1 {
    width: 90%;
    margin: 40px auto;
    overflow: hidden;
}

.image-box1 {
    float: left;
    width: 40%;
    height: 350px;
    max-width: 350px;
    margin-right: 30px;
    border-radius: 15px;
}

.concept1,
.part1 {
    float: right;
    width: 55%;
    
}

.concept1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2em;
    color: rgb(40, 22, 143);
}

.part1 {
    line-height: 1.6;
    color: #444;
    font-size: 1.2em;
}
.button{
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.5em;
    background-color: rgb(15, 15, 77);
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
  
}
.button:hover{
    color: rgb(157, 157, 226);
    cursor: pointer;
}
.section-part2 {
    width: 90%;
    margin: 40px auto;
    overflow: hidden;
}

.image-box2 {
    float: left;
    width: 40%;
    max-width: 350px;
    margin-right: 30px;
    border-radius: 15px;
}

.concept2,
.part2 {
    float: right;
    width: 55%;
    
}

.concept2 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2em;
    color: rgb(46, 46, 88);
}

.part2 {
    line-height: 1.6;
    color: #444;
    font-size: 1.2em;
}
.section-part3 {
    width: 90%;
    margin: 40px auto;
    overflow: hidden; 
}

.image-box3 {
    float: right;
    width: 40%;
    margin-left: 30px;
    height: 300px;
    border-radius: 10px;
}

.concept3,
.part3 {
    float: left;
    width: 55%;
}

.concept3 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 2em;
}

.part3 {
    line-height: 1.6;
    color: #444;
    font-size: 1.2em;
}
.concept4{
    padding-left: 40px;
}
.part4{
    padding-left: 40px;
    font-size: 1.2em;
}
.album-section5 {
    width: 90%;
    margin: 40px auto;
    overflow: hidden; 
    margin-top: 15px;
}
.image-box5 {
    float: right;
    width: 35%;
    height: 300px;
    border-radius: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    
}

.album5,
.part5 {
    float: left;
    width: 60%;
    font-size: 1.2em;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-left: 20px;
}

.album5 {
    margin-top: 0;
    margin-bottom: 30px;
    text-decoration: underline;
    font-size: 1.5em;
    margin-top: 15px;
    padding-top: 20px;
    font-weight: bold;
}

.part5 {
    line-height: 1.6;
    color: #444;
    font-size: 1.2em;
}
.decade-section6 {
    width: 90%;
    margin: 0;
    overflow: hidden; 
    margin-left: 40px;
}

.image-box6 {
    float: left;
    width: 35%;
    height: 300px;
    max-width: 320px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    border-radius: 15px;
}

.year6,
.part6 {
    float: right;
    width: 60%;
    line-height: 1.6;
    font-size: 1.2em;
}
    

.year6 {
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 10px;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
    font-weight: bold;

}

.part6 {
    line-height: 1.6;
    color: #444;
    font-size: 1.2em;
}

.decade-section7 {
    width: 90%;
    margin: 40px auto;
    overflow: hidden; 
}

.image-box7 {
    float: right;
    width: 35%;
    max-width: 330px;
    margin-left: 30px;
    border-radius: 10px;
}

.year7,
.part7 {
    float: left;
    width: 60%;
}

.year7 {
    margin-top: 0;
    margin-bottom: 15px;
    text-decoration: underline;
    font-size: 1.5em;
    font-weight: bold;
}

.part7 {
    line-height: 1.6;
    color: #444;
    font-size: 1.2em;
}
.concept8{
    margin-left: 40px;
}
.part8{
    margin-left: 40px;
}
.section-part9 {
    width: 90%;
    margin-left: 5px;
    overflow: hidden; 
}

.image-box9 {
    float: right;
    width: 35%;
    height: 300px;
    max-width: 330px;
    margin-right: 10px;
    border-radius: 15px;
}

.concept9,
.part9 {
    float: left;
    width: 60%;
    padding-left: 0;
    margin-left: 20px;

}

.concept9 {
    margin-top: 30px;
    margin-bottom: 15px;
}

.part9 {
    line-height: 1.6;
    color: #444;
    font-size: 1.2em;
}
.songs li{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 0;
    line-height: 1.6;
    padding-left: 40px;
    margin-left: 40px;
    color: rgb(113, 113, 237);
}
.footer {
    background-color: #1f2a38;   
    padding: 30px 20px;
    text-align: center;
    margin-top: 60px;
}

.footer .part0{
    color: #fff;
    font-size: 1em;
    margin-left: 0;
    margin-right: 0;
    letter-spacing: 1px;
}
    
@media (max-width: 900px) {
    .section-part1 img.image-box1 {
        float: none;
        width: 100%;
        margin: 10px 0;
    }
}



 



