h1{
    text-align: center;
    color: rgb(77, 43, 180);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
}
.hero button{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: rgb(174, 174, 218);
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.hero{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
.hero button:hover{
    background-color: rgb(13, 13, 162);
    cursor: pointer;
}

.intro-image{
    text-align: center;
    margin-bottom: 20px;
    width: 800px;
    height: auto;
   
}
.intro-image img{
    width: 400px;
    height: auto;
    justify-items: center;
    align-items: center;
    margin-left: auto;
    
    
}
h2{
    padding: 20px;
    margin: auto;
    color: royalblue;

}
p{
    font-size: 1.2em;
    line-height: 1.2;
    font-family: 'arial', sans-serif;
    padding: 20px;
    margin: 0 0;
    font-style: italic;
   
}
.about-luka-img img{
    justify-items: center;
    align-items: center;
    width: 400px;
    height: auto;
    padding-left: 20%;
    object-fit: cover;
    margin-left: auto;
}
h3{
    padding: 20px;
    font-size: 1.5em;
    color: royalblue;
    margin-top: 0;
    margin-bottom: 0;
}
.gallery{
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: space-between;
}
.gallery img{
    width: 250px;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    padding: 20px;
    margin-top: 0;
    border: none;
}
h4{
    padding: 20px;
    font-size: 1.2em;
    color: royalblue;
    margin-top: 0;
    margin-bottom: 0;
}
.health-tips{
    list-style-type: square;
    padding-left: 60px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.health-tips li{
    margin-bottom: 10px;
    font-weight: bold;
}